/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
#root {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#root > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.list-container{
    position: fixed;
    top: 160px;
    bottom: 32px;
    left: 0;
    overflow-y: scroll;
}

.text-container{
    position: fixed;
    top: 160px;
    bottom: 32px;
    right: 0;
    overflow-y: scroll;
}


/*::-webkit-scrollbar {
    width: 10px;
}*/
