<div class="col-md-9 text-container" >
  <div *ngIf="question && mcqdata">
    <div class="card text-primary border-primary mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Question No. {{question.queNo}}</h5>
        <h6 class="card-subtitle mb-2">{{question.month}}, {{question.year}} {{question.paper}}</h6>
        <dl class="row">
          <dt class="col-sm-3">Unit</dt>
          <dd class="col-sm-9">{{question.unit}}</dd>
          <dt class="col-sm-3">Topic(s):</dt>
          <dd class="col-sm-9">{{question.topic}}</dd>
        </dl>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Question</h5>
        <p class="card-text" [innerHTML]="mcqdata.statement"></p>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Options</h5>
        <ol type="A">
          <ng-template ngFor let-opt [ngForOf]="mcqdata.options" let-i="index" [ngForTrackBy]="trackByFn">
            <li [innerHTML]='opt'></li>
          </ng-template>
        </ol>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Answer</h5>
        <p class="card-text" [innerHTML]='mcqdata.correctOptions[0]'></p>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text" [innerHTML]='mcqdata.description'></p>
      </div>
    </div>
  </div>
</div>
