<div class="col-md-9 text-container">
  <div>
    <div class="card text-primary border-primary mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Question No. 26</h5>
        <h6 class="card-subtitle mb-2">AUGUST 2016, Paper III</h6>
        <dl class="row">
          <dt class="col-sm-3">Unit</dt>
          <dd class="col-sm-9">Data Communication and Networks</dd>
          <dt class="col-sm-3">Topic(s):</dt>
          <dd class="col-sm-9">Transmission media. Multiplexing and Concentration. Switching techniques. Polling</dd>
        </dl>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Question</h5>
        <p class="card-text">Consider the following statements Which of the following is correct?</p>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Options</h5>
        <ol type="A">
          <li>A and B are true; C and D are false.</li>
          <li>A and B are false; C and D are true.</li>
          <li>A, B, C and D are true.</li>
          <li>A, B, C and D are false.</li>
        </ol>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Answer</h5>
        <p class="card-text">A and B are true; C and D are false.</p>
      </div>
    </div>
    <div class="card border-light mb-3" style="padding:20px">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question.
          Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available
          by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are
          solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question.
          Solution shall be available by 10 July 2017We are solving this question. </p>
      </div>
    </div>
  </div>
</div>
