<form>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="exampleFormControlSelect1">Paper</label>
      <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
    </div>
    <div class="col-md-3">
      <label for="exampleFormControlSelect1">Unit</label>
      <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
    </div>
    <div class="col-md-5">
      <label for="exampleFormControlSelect1">Topic</label>
      <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
    </div>
    <div class="col-md-1">
      <div style="height: 31px"></div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-3 list-container">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span class="badge badge-default">Computer Graphics</span></h5>
          <small><span class="badge badge-info">Que No 21</span></small>
        </div>
        <p class="mb-1 text-info">June, 2012</p>
        <small>Pigeonhole Principle, Inclusion-Exclusion Principle. Elementary counting techniques. Probability. Measure(s) for Information and total information</small>
      </a>
    </div>
  </div>
  <div class="col-md-9 text-container">
    <div id="questionPage">
      <div>
        <div class="heading">
          <h3>Details:</h3>
        </div>
        <div class="content" id="qDetails">
          <ul data-role="listview">
            <li>Exam: <strong>AUGUST 2016, Paper III</strong></li>
            <li>Q No.: <strong>26</strong></li>
            <li>Unit:
              <p>Data Communication and Networks</p>
            </li>
            <li>Topic(s):
              <p>Transmission media. Multiplexing and Concentration. Switching techniques. Polling</p>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="heading">
          <h3>Question</h3>
        </div>
        <div class="content" id="qContent">
          <p>Consider the following statements Which of the following is correct?</p>
        </div>
      </div>
      <div>
        <div class="heading">
          <h3>Options</h3>
        </div>
        <div class="content" id="qOptions">
          <ol data-role="listview" type="A">
            <li>A and B are true; C and D are false.</li>
            <li>A and B are false; C and D are true.</li>
            <li>A, B, C and D are true.</li>
            <li>A, B, C and D are false.</li>
          </ol>
        </div>
      </div>
      <div>
        <div class="heading">
          <h3>Answer:</h3>
        </div>
        <div class="content" id="qAnswer">
          <p>A and B are true; C and D are false.</p>
        </div>
      </div>
      <div>
        <div class="heading">
          <h3>Description:</h3>
        </div>
        <div class="content" id="qDescription">
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question.
            Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available
            by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are
            solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question.
            Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
          <p>We are solving this question. Solution shall be available by 10 July 2017</p>
        </div>
      </div>
    </div>
  </div>
</div>
